# -*- mode: gitignore; -*-

### gitignore https://github.com/github/gitignore

### * git
### ** private files
nogit_*
*_nogit

### * Editors
### ** Emacs 
*~
\#*\#
.\#*

### ** Vi
*.swp

### * stack
.stack-work/

### * hakyll
_cache
_site

### * netlify-cli
.netlify
node_modules/
package-lock.json
