@import "tailwindcss/base";

html,
body {
  @apply font-sans;
}

* {
  @apply box-border;
}

main {
  @apply px-20 py-0;
  @apply flex flex-auto flex-col justify-center items-center;
}

footer {
  @apply w-full flex justify-center items-center;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

footer img {
  @apply ml-2;
}

footer a {
  @apply flex justify-center items-center;
}

a {
  color: inherit;
  @apply no-underline;
}

code {
  @apply p-3;
  @apply rounded bg-white;
  @apply font-mono text-lg;
}

@import "tailwindcss/components";

.container-exteinsion {
  /* @apply container; */
  @apply min-h-screen p-2;
  @apply flex flex-col justify-center items-center;
}

.title a {
  @apply text-blue-600;
  @apply no-underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  @apply underline;
}

.title {
  @apply m-0;
  @apply text-6xl leading-tight;
}

.title,
.description {
  @apply text-center;
}

.description {
  @apply leading-tight text-2xl;
}

.my-grid {
  @apply max-w-screen-md mt-12;
  @apply flex flex-wrap justify-center items-center;
}

.card {
  @apply m-4 p-6;
  @apply border border-solid border-gray-400 rounded-lg;
  @apply text-left no-underline;
  color: inherit;
  flex-basis: 45%;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  @apply text-blue-600 border-blue-600;
}

.card h3 {
  @apply mt-0 mb-4 my-0;
  @apply text-2xl;
}

.card p {
  @apply m-0;
  @apply text-xl leading-tight;
}

.logo {
  @apply h-4;
}

@media (max-width: 600px) {
  .my-grid {
    @apply w-full;
    @apply flex-col;
  }
}

@import "tailwindcss/utilities";
